.score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 29px;
    color: #FFF;
  }

  .start-game{
    position: absolute;
    top: 770px;
    left: 385px;
    cursor: pointer;
    font-size: 32px;
    color: #000000;
    padding: 5px 10px;
    background-color: rgb(247, 203, 242);
}